body {
    font-family: 'Poppins', sans-serif;
}

main {
    color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: black;
}

.pokedex {
    display: flex;
    gap: 30px;
    padding: 30px 0;
}

